<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link href="/static/css/base.css" rel="stylesheet" type="text/css">
</head>
<body>
{% extends 'index_base.html' %}
{% load static %}
{% block content %}
<div style="border: solid 1px;width: 500px;height: 500px; margin-bottom: 230px;margin-top:100px;margin-left: 500px;padding:70px 50px 50px 50px;background-color:#1b6d85">
    <p style="font-size: 30px">登录</p>
    <form method="post" style="background-color: white;margin-top: 50px">
    {% csrf_token %}
        <p>{{ str }}</p>
        <table align="center" border="1" cellpadding="0" cellspacing="0" width="400" height="300" >
            <tr>
                <td style="padding-right:145px">{{ form.usermail}}</td>
                </tr>
            <tr><td style="padding-right:145px">{{ form.userpass }}</td></tr>
            <tr><td style="padding-right:34px">{{ form.captcha }}</td></tr>
            <tr><td><input type="submit" value="登录" class="button buttonhavor"></td></tr>
        </table>

    </form>
</div>
{% endblock %}
</body>
</html>
{#<input type="text" placeholder="验证码" name="identify"><img src="{{ image }}" style="margin-left: 9px">#}