
        .userul ul{
            padding:0 0 0 0;
            margin: 0 0 0 0;
            list-style: none;
            border:none;
        }
       .userli li{
            line-height: 50px;
            width: 150px;
            height: 50px;
           background-color: #cccccc;
            text-align: center;
        }
        .user ul>li>ul{
            -webkit-transform: rotateX(90deg);
            transition-duration: 1s;
        }
        .userhover ul>li:hover>ul{
            -webkit-transform: rotateX(0);
            transition-duration: 1s;
        }
